*_t.c
*_u.c
*.o
*_t.h
*_u.h
*_args.h
*.pem
*.signed
__pycache__/
server/enclave/blackjack_enclave
server/host/cli
server/solution/
server/sealed_data
server/output_data
client/solution_data/
client/solution.py
venv
env